- content_for :extra_javascript do 
  = javascript_include_tag "listings/new_listing/manifest"
#new-listing.flex{"ng-controller": "newListingCtrl"}
  %md-steppers{"md-dynamic-height": true, "md-stretch-steppers": "always", "md-selected": "selectedStep"}

    %md-step{label: "Start", "md-complete": "listingForms.infoForm.$valid"}
      %md-content.bg-body.md-padding#start
        .layout-row.layout-align-center-center
          .layout-column.flex-gt-sm-66.layout-margin
            .md-whiteframe-z1.benefits-hero
              .layout-row
                .flex
                %md-button.md-icon-button.close-button
                  %i.icon-remove.md-primary
              .layout-column.layout-padding.flex.layout-gt-sm-row        
                .flex.layout-column.layout-align-center-center
                  %img{"src": "https://assets.tackhunter.com/marketing/sale.svg"}
                  .hero-caption
                    %h3.md-headline
                      3% if it sells
                    %p.md-caption
                      List as many items as you want for free. Only pay if your listing sells on Tack Hunter.
                .flex.layout-column.layout-align-center-start
                  %img{"src": "https://assets.tackhunter.com/marketing/lock.svg"}
                  .hero-caption
                    %h3.md-headline
                      Safe
                    %p.md-caption
                      Our platform is the safest way to sell your tack online. We're riders just like you!

                .flex.layout-column.layout-align-center-satart
                  %img{"src": "https://assets.tackhunter.com/marketing/lookout.svg"}
                  .hero-caption
                    %h3.md-headline
                      We're Always Here
                    %p.md-caption
                      Have a question? Email us at support@tackhunter.com, and we'll get back to you within the hour.

            .md-whiteframe-z1
              %md-toolbar.md-hue-1
                .md-toolbar-tools.flex
                  %h2
                    %span
                      What are you selling?
              %md-content.layout-padding
                %form{name: "listingForms.infoForm"}
                  .layout-row.layout-sm-column.layout-xs-column.layout-padding
                    %md-autocomplete.flex{"placeholder": "Discipline", 
                      "md-delay": 400,
                      "md-no-cache": true,
                      name: "brand",
                      "md-selected-item": "listing_resource.listing.brand", 
                      "md-items": "item in brandSearchTextChange(brandSearchText)", 
                      "md-search-text": "brandSearchText",
                      "md-item-text": "item.name",
                      "md-floating-label": "Brand",
                      "md-match-case-insensitive": true,
                      required: true}
                      %md-item-template
                        %span.item-title
                          %span{"ng-bind": "item.name"}
                      %md-not-found
                        Brand not found, We can give it a shot though!
                      %div{"ng-messages": "infoForm.brand.$error"}
                        %div{"ng-message": "required"}
                          This is required.
                    %md-input-container.flex
                      %label
                        Model
                      %input{required: true, name: "model", "ng-model": "listing_resource.listing.model"}
                      %div{"ng-messages": "infoForm.model.$error"}
                        %div{"ng-message": "required"}
                          This is required.
                  .layout-column.layout-gt-sm-row.layout-padding
                    %md-input-container.flex
                      %label
                        Listing Title
                      %input{required: true, name: "title", "ng-model": "listing_resource.listing.title"}
                      %div{"ng-messages": "infoForm.title.$error"}
                        %div{"ng-message": "required"}
                          This is required.                  
                  .layout-row.layout-padding.layout-wrap
                    %md-input-container.flex-50.flex-gt-sm-25
                      %label
                        Price
                      %input{required: true, name: "price"}
                      %div{"ng-messages": "infoForm.price.$error"}
                        %div{"ng-message": "required"}
                          This is required.
                    %md-input-container.flex-50.flex-gt-sm-25
                      %label
                        Shipping Price
                      %input{required: true, name: "shipping_price"}
                      %div{"ng-messages": "infoForm.shipping_price.$error"}
                        %div{"ng-message": "required"}
                          This is required.
                    %md-input-container.flex-50.flex-gt-sm-25
                      %label
                        Condition
                      %md-select{"ng-model": "listing_resource.listing.condition", name: "condition", required: true}
                        %md-option{"ng-repeat": "condition in conditions track by $index", "ng-bind": "condition", "ng-value": "condition"}
                      %div{"ng-messages": "infoForm.condition.$error"}
                        %div{"ng-message": "required"}
                          This is required.
                  .layout-column.flex
                    %p
                      Who would be interested in this item?
                    %md-input-container.flex
                      %md-radio-group.layout-row{"ng-model": "listing_resource.listing.discipline_id", "ng-change": "fetchCategories()", required: true, name: "disciplineId"}
                        %md-radio-button{"ng-repeat": "option in disciplines", value: "{{option.slug}}"}
                          {{option.name}}
                      %div{"ng-messages": "infoForm.disciplineId.$error"}
                        %div{"ng-message": "required"}
                          This is required.


    %md-step{label: "Category", "ng-disabled": "listingForms.infoForm.$invalid", "md-complete": "listingForms.categoryForm.$valid"}
      %md-content.bg-body.md-padding#categories
        .layout-row.layout-align-center-center
          .layout-column.flex-gt-sm-66.layout-margin
            .md-whiteframe-z1
              %md-toolbar.md-hue-1
                .md-toolbar-tools.flex
                  %h2
                    %span
                      Let's find a good spot for your listing
              %md-content.layout-padding
     
                %form{name: "listingForms.categoryForm"}
                  .layout-row
                    .flex
                      %h2.md-subheader
                        Category
                      %md-input-container.flex
                        %md-radio-group{"ng-show": "categories", "ng-model": "listing_resource.listing.category_id",  "ng-change": "fetchSubcategories()", name: "category", required: true}
                          %md-radio-button{"ng-repeat": "option in categories", value: "{{option.id}}"}
                            {{option.name}}
                    .flex{"ng-if": "subcategories && subcategories.length > 0"}
                      %h2.md-subheader
                        Subcategory
                      %md-input-container.flex
                        %md-radio-group{"ng-show": "categories", "ng-model": "listing_resource.listing.subcategory_id", name: "subcategory", required: true}
                          %md-radio-button{"ng-repeat": "option in subcategories", value: "{{option.id}}"}
                            {{option.name}}

    %md-step{label: "Details", "ng-disabled": "disableStep(2)" , "md-complete": "listingForms.detailsForm.$valid"}
      %md-content.bg-body.md-padding#details
        .layout-row.layout-align-center-center
          .layout-column.flex-gt-sm-66.layout-margin
            .md-whiteframe-z1
              %md-toolbar.md-hue-1
                .md-toolbar-tools.flex
                  %h2
                    %span
                      Add a few extra details
              %md-content.layout-padding
                %form{name: "listingForms.detailsForm"}
                  .layout-row.layout-fill
                    %md-input-container.flex
                      %label Description
                      %textarea#description{rows: "5", name: "description", required: true, "ng-model": "listing_resource.listing.description"}
                  .layout-row.flex
                    .flex-50.flex-gt-sm-25.layout-wrap{"ng-repeat": "custom_field in custom_fields", "ng-switch": "custom_field.type"}
                      %md-input-container{"ng-switch-when": "TextField"}
                        %label
                          {{custom_field.name.value}}
                        %input{type: "text"}

    %md-step{label: "Photos", "ng-disabled": "disableStep(3)"}
      %md-content.bg-body.md-padding
        .layout-row.layout-align-center-center
          .layout-column.layout-fill.flex-gt-sm-66.layout-margin
            .md-whiteframe-z1.benefits-hero
              %md-toolbar.md-hue-1
                .md-toolbar-tools.flex
                  %h2
                    %span
                      Pictures
                      .md-caption
                        Great Photos Sells Tack Faster
              .layout-padding.layout-column.layout-align-center-center
                .cropArea{"ng-show": "stagingPic", "ngf-drop": true, "ng-model": "stagingPic"}
                  %img-crop{"image": "stagingPic | ngfDataUrl", "result-image": "croppedStagingUrl", "area-type": "rectangle", "init-max-area": "true", "result-image-size": "'max'", "aspect-ratio": "1.3"}
                .flex{"ng-show": "stagingPic"}
                  %md-button.md-fab{"ng-click": "destroyStagingPic()", style: "background: red;"}
                    %i.icon-remove
                  %md-button.md-fab{"ng-click": "confirmStagingPic()", style: "background: #00a26c;"}
                    %i.icon-ok

                %div.layout-align-center-center.layout-column{"ng-hide": "stagingPic", "ngf-drop": true, "ng-model": "stagingPic", style: "min-height: 350px; width: 500px; overflow:hidden;"}              
                  %md-button.md-button.md-hue-1.hide-sm.hide-xs{"ngf-select": true, "ng-model": "stagingPic", accept: "image/jpeg"}
                    %i.icon-camera
                    Click To Upload Photo
                  %input.md-hue-1.hide-gt-sm{type: "file", "ngf-select": true, "ng-model": "stagingPic", accept: "image/jpeg"}
                .layout-row.layout-fill.layout-wrap.flex.layout-margin
                  .flex-20.layout-column.layout-align-center-start{"ng-repeat": "image in listing_images", style: "border: 1px solid #ddd; border-radius: 4px; padding: 0;"}
                    %img{"ng-src": "{{image}}", style: "width: 100%;"}
                    .layout-row.layout-fill.flex
                      .flex-33
                        .md-button{"ng-click": "sortListingImage($index,-1)", style: "margin: 0; padding: 0; min-width: 100%;"}
                          %i.icon-caret-left
                      .flex-33
                        .md-button{"ng-click": "removeFromListingImages($index)", style: "margin: 0; padding: 0; min-width: 100%;"}
                          %i.icon-trash  
                      .flex-33              
                        .md-button{"ng-click": "sortListingImage($index, 1)", style: "margin: 0; padding: 0; min-width: 100%;"}
                          %i.icon-caret-right   

    %md-step{label: "Preview", "ng-disabled": "disableStep(4)"}

    %md-step{"ng-if": "false", style: "display:none;", label: "Payments"}
      %md-content.md-padding
        %h2.md-headline 
          How can we pay you?
          %span.md-caption
            (You only have to do this once)
        - content_for :javascript do
          ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-order-permission");
        - create_paypal_link = link_to(t("paypal_accounts.create_paypal_account_link_text"),
                                       create_url, target: "_blank")
        - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
        %p
          You're almost ready to start selling! We need to set up how you'll get paid when users buy your items. Tack Hunter is seamlessly integrated with PayPal for security and simplicity. Once your account is connected you'll be able to list as many items as you want.
        .row
          .col-12.payment-checklist
            %div
              %i.icon-check
              You'll receive your payments instantly
            %div
              %i.icon-check
              Your private Paypal informantion is never shared with Tack Hunter
            %div
              %i.icon-check
              We'll never debit your account, and our 3% fee is automatically subtracted from the buyers payment before it's sent to you. 
            %div
              %i.icon-check
              Saddle trial didn't work out? You can easily issue refunds from Tack Hunter.

        .row.send-button-wrapper
          .col-12
            %button#ask_paypal_permissions
              %i.icon-lock
              Securely connect your Paypal account
          .row.js-paypal-redirect-order-permission.hidden
            .col-12
              .paypal-redirect-message
                = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe

  %md-button.ng-cloak.progress-button.md-button.md-fab.md-fab-bottom-right#next-button{style: "position: fixed;", "ng-disabled": "!eligibleForNextStep()", "ng-click": "nextStep()", disabled: "true"}
    Next

      
