- content_for :extra_javascript do 
  = javascript_include_tag "listings/new_listing/manifest"


.layout-row.layout-align-center-center{"ng-controller": "newListingCtrl"}
  .layout-column.flex-lt-sm-100.flex-gt-sm-66
    %md-tabs.md-whiteframe-z1{"md-dynamic-height": "true", style: "background: #fff;"}
      %md-tab{label: "Payments"}
        %md-content.md-padding
          %h2.md-headline 
            How can we pay you?
            %span.md-caption
              (You only have to do this once)
          - content_for :javascript do
            ST.initializeNewPaypalAccountHandler("ask_paypal_permissions", "#{order_permission_action}", ".js-paypal-redirect-order-permission");
          - create_paypal_link = link_to(t("paypal_accounts.create_paypal_account_link_text"),
                                         create_url, target: "_blank")
          - paypal_redirect_link = "<a href='#' id='ask_paypal_permissions_redirect'>#{t("paypal_accounts.redirect_link_text")}</a>"
          %p
            You're almost ready to start selling! We need to set up how you'll get paid when users buy your items. Tack Hunter is seamlessly integrated with PayPal for security and simplicity. Once your account is connected you'll be able to list as many items as you want.
          .row
            .col-12.payment-checklist
              %div
                %i.icon-check
                You'll receive your payments instantly
              %div
                %i.icon-check
                Your private Paypal informantion is never shared with Tack Hunter
              %div
                %i.icon-check
                We'll never debit your account, and our 3% fee is automatically subtracted from the buyers payment before it's sent to you. 
              %div
                %i.icon-check
                Saddle trial didn't work out? You can easily issue refunds from Tack Hunter.

          .row.send-button-wrapper
            .col-12
              %button#ask_paypal_permissions
                %i.icon-lock
                Securely connect your Paypal account
            .row.js-paypal-redirect-order-permission.hidden
              .col-12
                .paypal-redirect-message
                  = t("paypal_accounts.redirect_message", redirect_link: paypal_redirect_link).html_safe

       
      %md-tab{label: "Category"}
        %md-content.md-padding
          %h2.md-headline 
            What are you selling?
          %form
            .layout-row-gt-sm
              %md-input-container.flex-25
                %md-radio-group{"ng-model": "listing.discipline_id"}
                  %md-radio-button{"ng-repeat": "option in disciplines", value: "{{option.name}}"}
                    {{option.name}}
              %md-input-container.flex-25
                %md-radio-group{"ng-model": "listing.category_id", "ng-show": "listing.discipline_id"}
                  %md-radio-button{"ng-repeat": "category in categories", value: "{{category.name}}"}
                    {{category.name}}
            .layout-row-gt-sm
              %md-autocomplete.flex-25{"placeholder": "Discipline", 
              "md-delay": 400,
              "md-no-cache": true,
              "md-selected-item": "saddleConfiguration.brand", 
              "md-items": "item in brandSearchTextChange(brandSearchText)", 
              "md-search-text": "brandSearchText",
              "md-item-text": "item.name",
              "md-floating-label": "Discipline",
              "md-match-case-insensitive": true}
                %md-item-template
                  %span.item-title
                    %span{"ng-bind": "item.name"}
                %md-not-found
                  Brand not found, We can give it a shot though!

      %md-tab{label: "Info"}
      %md-tab{label: "Pictures"}

      %md-tab{label: "Preview"}
