.state-container
  - if status_info[:info_icon_tag].present?
    = status_info[:info_icon_tag]
  - else
    %span.text-part
      %i.icon-part{:class => status_info[:info_icon_part_classes]}
      = status_info[:info_text_part]
