- content_for :keywords, "EIS COOL Shirt", "Tailored Sportsman", "Ice-Fil", "Kastel Denmark", "Sun shirt review"
.row
  %p
    Almost every blogger has done a comparison of the most popular sun shirts on the market, and being 2 steps behind as always, I am no exception. Let's put a personal twist on this:


.row
  .col-12.center
    %h1
      The Shirts
.row
  .col-4
    .img-card
      %div{style: "height: 300px; overflow:hidden;"}
        %img{src: "https://assets.tackhunter.com/news/EIS_COOL_Shirt.JPG", style: "width: 100%;", alt: "A picture of me wearing the EIS COOL Shirt.", title: "EIS COOL Shirt"}
      %h3
        EIS COOL Shirt
    %table{style: "margin-top: 0.5em;"}
      %tr
        %td
          Size
        %td
          Medium
      %tr
        %td
          Sleeve Length
        %td
          20"
      %tr
        %td
          Price
        %td
          $86
  .col-4
    .img-card
      %div{style: "height: 300px; overflow:hidden;"}
        %img{src: "https://assets.tackhunter.com/news/Kastel-Denmark-Charlotte-Shirt.jpg", style: "width: 100%;", alt: "A picture of me wearing the Kastel Denmark Charlotte Shirt.", title: "Kastel Denmark Charlotte Shirt"}
      %h3
        Kastel Denmark Charlotte Shirt
    %table{style: "margin-top: 0.5em;"}
      %tr
        %td
          Size
        %td
          Medium
      %tr
        %td
          Sleeve Length
        %td
          21"
      %tr
        %td
          Price
        %td
          $75

  .col-4
    .img-card
      %div{style: "height: 300px; overflow:hidden;"}
        %img{src: "https://assets.tackhunter.com/news/Tailored-Sportsman-Ice-Fil-Shirt.jpg", style: "width: 100%;", alt: "A picture of me wearing the Tailored Sportsman Ice-Fil Shirt.", title: "Tailored Sportsman Ice-Fil Shirt"}
      %h3
        Tailored Sportsman Ice-Fil Shirt
    %table{style: "margin-top: 0.5em;"}
      %tr
        %td
          Size
        %td
          Medium
      %tr
        %td
          Sleeve Length
        %td
          23
      %tr
        %td
          Price
        %td
          $65
%div{style: "background: #f7f7f7; padding:0.5em; border-radius: 4px;"}
  %strong 
    About me: 
  .row
    %i.icon-female
    5'8, average build (34" chest, 27" waist, whateva). 
  .row
    %i.icon-sun
    Heat sensitive- giant hot weather weenie.
  .row
    %i.icon-heart
    Small obsession with my Black Olive TS Trophy Hunters. Bigger obsession with my leopard needlepoint belt.
.row
  %h2
    Sizing
  %p
    The Tailored Sportsman and EIS likely run the same. The EIS are a touch too big, but the TS is way too tight. Some of my issue with the fit of the TS may be related to the fact that I was expecting a light coral, and got a "it rubs the lotion on its skin" color, and it's very very sheer. Kastel fits me beautifully. Overall, the Kastel Denmark shirts seem to run small while the TS and EIS run true to size.

.row
  %h2
    Cooling
  %p
    I'm going to be honest here, when it's 90 degrees out in 80% humidity, I ditch the sleeves, and opt for my other hot weather riding top: Nike Dri-Fit V-Neck Tees. When weather is a few degrees cooler than Hell, I reach for my TS first, Kastel second, and EIS third. While I think the TS is a little too snug for my vet-school cushioned figure, it does a fantastic job wicking sweat away to keep me cool. The Kastel and EIS are comfortable for 60 degree days where I warm up as I go, and work up a small sweat as I ride. If I'm sweating walking from my house to my car- I'll wear a short sleeve v-neck.
.row
  %h2
    Bits and Bobs
  %p
    I really love the EIS fabric; it's more of a knit tech fabric rather than a straight tech fabric like Kastel or TS; this may also be why it holds heat the most out of the 3 brands. The zipper pulls are all ergonomic plastic, and feel high quality and durable.
    %br
    %br
    The seabreeze EIS has picked up a few weird stains that have yet to come out despite multiple washes, OxyClean, and a myriad of stain removers- so I would be cautious about the lighter colors. I haven't had the same issue with my TS sun shirt.
    %br
    %br
    As I mentioned above, the TS shirt is very sheer; I can only wear nude sports bras with it, whereas I can get away with other colors under the seabreeze EIS.

.row
  .col-12
    %h1
      The Verdict
.row
  I like these shirts- I like them for hiking, running, and riding in temperate weather. I'm going to be the Debbie Downer- I don't think they're ideal or even helpful in hotter-than-Hades, moist weather. I love a good quarter zip, and live in an area where these are perfect 3/4 of the year, but I can't wear them for mid-summer riding- it's too warm.
  %br
  %br
  Looking for something to keep you comfortable in 60-70 degree spring weather? These are fantastic.
  %br
  %br
  Looking for something to keep you cool in 80+ degrees? Let me know- because I am still looking for the perfect shirt.
  %br
  %br
  I haven't been riding the last week and a half- I've been in Kentucky on externship! I'll be posting a summary about my experience externing at one of the leading equine hospitals in the world after my externship is over. I'm going a little stir crazy not riding, but I'm having a blast in my old Kentucky Home.
