
%p 
  In the course my life as an equestrian and horse mom, I've purchased numerous saddles -- I'm a self-admitted saddle queen. Two of them (possibly three depending on your definition) were custom fit. A saddle fitter came out, took measurements of me and my horse, asked me my preference for various options, and sent all this information to a company (along with a hefty payment). The theory is that the company would send back saddle designed to fit me, and my horse, perfectly. 
%em
  Well, maybe not!
%h2
  The Custom Process

%p
  I've purchased two custom saddles from high-end companies with reputable fitters. The result? I ended up with two saddles that didn't fit. The original fitters may or may not have been at fault -- after all the saddles were constructed with nothing but measurements from an agent of the company. Once the saddles were mailed to the agent, they made adjustments and spoke positively about the fit. But even a layman with a good article on saddle fit could see problems -- and when I brought in independent fitters they indicated the saddles were not a good fit. Ultimately, I sold the custom saddles at a significant loss. I'm not alone in this experience -- many people have related similar stories. 

%p 
  Experienced horse people always advise me not to buy a saddle I can't try first.
%em
  Gee, now that I write it, it sounds  kind of obvious doesn't it?
%p
  Typically it's wise to tryout the same brand/model of saddle before buying. With custom saddles, each one is unique so it's very difficult to know how it's going to fit. Others may have had better luck, and I have seen good custom fits. For example: I have never purchased a Schleese, but their procedure for evaluating a horse's back is sensible and impressive. My point is that it is a risk.
.layout-row.layout-align-center-center
  %img.md-whiteframe-z2{src: "https://assets.tackhunter.com/news/custom-saddle-example.jpg"}
%h2
  When is custom a good idea?
  
%md-list
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          Custom leather color, piping, or bling
      %p 
        Want a brown or orange leather saddle? Colored piping or bling on the cantle? Custom may be your best option. 
  %md-list-item.md-2-line.md-2-line.md-no-proxy 
    .md-list-item-text
      %h3
        %strong  
          You or your horse has unusual conformation
      %p 
        A custom saddles can make a difference in these scenarios. However, you're still putting money up front for a product you haven't tried, and in my experience there are no refunds in the world of custom saddles. 
%h2
  Risks of going custom
  
%md-list
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          Expense
      %p 
        Custom saddles are expensive. After all, the saddle is custom, not mass produced. If you get the customizations you want, and the saddle fits your horse, then it may be worth it. 
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          No try before you buy
      %p 
        While you can try a demo saddle, the demo is not going to have the same feel as a custom saddle (or why would you go to the expense?).
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          Returns. Or not  
      %p
        The custom saddle is non-returnable. If it does not turn out to be your dream-saddle well, you'll be reliant on the fitter to help you make it work.
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          Turnaround on order
      %p
        Custom saddles from some manufacturers can take as long as six months to a year from the time of order to the time the saddle arrives. This was the case with a custom saddle I bought from Germany. My husband's morbid comment on this wait-time was "your horse could be dead by then." In that length of time, a horse can change shape, too. 
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          Resale
      %p
        The reason to buy a custom saddle is because there isn't enough demand for a manufacturer to mass produce one that fit your needs. Low demand means that you'll need to be very patient in the event that you need to sell your saddle. Most people don't need an ultra-long flap for long legs, special shoulder gussets for a peculiarly shaped wither, or a brown dressage saddle. Thus, all of these things will narrow the audience of potential buyers.  I saw a used high-end saddle that had a 2" custom "groove" right down the middle of the seat (the original buyer had some kind of tailbone injury). Be thoughtful about customizations if you think you might be selling the saddle at some point.
  %md-list-item.md-2-line.md-no-proxy
    .md-list-item-text
      %h3
        %strong
          Human error
      %p Sometimes mistakes are made. Not all of them can be fixed. The biggest risk -- your horse. Your horse won't know what you've spent, and won't pretend to like the saddle to spare your feelings. At the end of the day, the horse will have the final say, no matter how much the custom saddle should work. 
%h2
  Conclusion
%p
  Years ago someone interviewed the Nike Corporation CEO. In an unusual moment of candor, he admitted that his company was built on selling high-end shoes to amateurs that don't really need them. While I'm a buyer of high-end shoes, I suspect that this is largely true. Similarly, I think a lot of the marketing talk about saddles is just that -- marketing. We have money burning a hole in our pocket and want to give ourselves an edge -- and also to do the very best for our horses.

  I'm not suggesting that custom saddles are never the way to go -- but don't do what I did, and assume that going custom is a sure path to a good fit. It just isn't.

%div
  %em  
    %a{href: "http://www.behindthebitblog.com/"}
      Checkout Stacy's blog "Behind the Bit"!
