.row
  %p I recently started looking for a truck that was capable of towing my horses around. I quickly found myself overwhelmed with tons of confusing terminology. There had to be a simpler way. After doing a ton of research, I made a tool that everyone can use to save time when truck shopping. Keep in mind that driving an overloaded vehicle is not only dangerous for you and your horses, but it also is a financial liability (it's unlikely that your insurance will cover a crash that resulted from exceeding your car manufacturer’s limits).

.row
  %h2.center Truck Ratings 101
  %div{style: "height: 75px; overflow: hidden; background: #f7f7f7; border-radius: 4px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); border: 1px solid #ddd;width: 80%; margin: auto;"}
    %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/horse1.png", style: "width: 100%;"}
.row
  %p 
    As you can see above, the 
    %strong
      GCVW
    is an important aspect. When it's all said and done, this is what you'll want to stay under. Also, it's always a good idea to allow for a 5-8% margin of error when calculating your gross combined weight. Now lets get started:
.row
  %h2.center 
    Which truck is right for you?
  %p We've created this calcuator to give you a rough estimate of your GCVW. Our methodology for calculating the GCVW was as follows: We first looked at many of the top horse trailer manufacturers, and averaged the weight on a per horse basis. We further segmented these averages by distinguishing between goosneck and bumper pull trialers. This is because on average goosneck trailers weigh more. Lastly we included a 250lbs addition for water, tack, hay, and other riding equipment. Once we compute the estimated gross vehicle weight for the fully loaded trailer (not the truck), we then combined this number with the curb weight of various trucks. The information for the trucks was gathered via the manufacturers website as of September 25th, 2016



.row
  %div
    %strong 
      Number of horses
  .row
    .col-3
      .horse-option.center.selected
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
        %strong
          1
    .col-3
      .horse-option.center
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
        %strong
          2
    .col-3
      .horse-option.center
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
        %strong
          3
    .col-3
      .horse-option.center
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pony-variant-cartoon-silhouette.svg", style: "width: 25px; height: 25px;"}
        %strong
          4+
.row
  %div
    %strong 
      Trailer type
  .row
    .col-3
      .trailer-option.center.selected
        %div
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/bumper-pull-trailer.svg", style: "width: 60px; height: 60px;"}
        %strong
          Bumper Pull
    .col-3
      .trailer-option.center
        %div
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/gooseneck-trailer.svg", style: "width: 60px; height: 60px;"}
        %strong
          Gooseneck
.row
  %div
    %strong 
      Dressing Room?
  .row
    .col-3
      .trailer-option.center.selected
        %div{style: "margin-top: 1em;"}
          %i.icon-dollar{style: "font-size: 25px;"}
        %strong
          Yes
    .col-3
      .trailer-option.center
        %div{style: "margin-top: 1em;"}
          %i.icon-frown{style: "font-size: 25px;"}
        %strong
          No
.row
  %div
    %strong 
      Typical Number of Passengers
  .row
    .col-3
      .horse-option.center.selected
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
        %strong
          1
    .col-3
      .horse-option.center
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
        %strong
          2
    .col-3
      .horse-option.center
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
        %strong
          3
    .col-3
      .horse-option.center
        %div{style: "padding-top: 1em;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/woman-standing-up.svg", style: "width: 25px; height: 25px;"}
        %strong
          4  
.row
  %div
    %strong 
      Where's all your tack, luggage, and equipment being stored?
  .row
    .col-3
      .trailer-option.center.selected
        %div
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pick-up-truck-side-view-silhouette.svg", style: "width: 60px; height: 60px;"}
        %strong
          Only truck
    .col-3
      .trailer-option.center
        %div
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/bumper-pull-trailer.svg", style: "width: 60px; height: 60px;"}
        %strong
          Only trailer
    .col-3
      .trailer-option.center
        %div
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/bumper-pull-trailer.svg", style: "width: 60px; height: 60px;"}
          %img{src: "https://s3.amazonaws.com/assets-local.tackhunter.com/pick-up-truck-side-view-silhouette.svg", style: "width: 60px; height: 60px;"}
        %strong
          Both
.row
  %h2.center 
    Your Results  
.row
  .col-4
    .news-card
      .news-card-image{style: "background-image: url('https://s3.amazonaws.com/assets-local.tackhunter.com/ford-f150.jpg')"}
      .news-card-title
        %h4
          Chevy 1500
        / Author
      .news-card-summary 
        %table
          %tr
            %td
              GCVW
            %td
              11,600lbs
          %tr
            %td
              Curb Weight
            %td
              11,600lbs    

  .col-4
    .news-card
      .news-card-image{style: "background-image: url('https://s3.amazonaws.com/assets-local.tackhunter.com/ford-f150.jpg')"}
      .news-card-title
        %h4
          GMC 1500
        / Author
      .news-card-summary 
        %table
          %tr
            %td
              GCVW
            %td
              11,600lbs
          %tr
            %td
              Curb Weight
            %td
              11,600lbs    
  .col-4
    .news-card
      .news-card-image{style: "background-image: url('https://s3.amazonaws.com/assets-local.tackhunter.com/ford-f150.jpg')"}
      .news-card-title
        %h4
          Ford F150
        / Author
      .news-card-summary 
        %table
          %tr
            %td
              GCVW
            %td
              11,600lbs
          %tr
            %td
              Curb Weight
            %td
              11,600lbs          

      .news-card-footer
        %small
          By

:css
  .trailer-option.selected, .horse-option.selected {
    background: #ddd;
    border: 2px solid #00a26c;
    border-radius: 4px;
  }
  .trailer-option:hover, .horse-option:hover {
    background: #ddd;
    border-radius: 4px;
  }
  .trailer-option {
    cursor: pointer;
  }

