/**
  Contains styles for listing grid's image part
*/

@import "mixins/all";

.fluid-thumbnail-grid-image-image-container {
  position: relative;
  color: $background;

  &:hover {
    color: $highlight;
  }

  @include block-with-aspect-ratio(3/2);
}

h4.fluid-thumbnail-grid-listing-title {
  background: white;
  color: #6f6f6f;
  padding: 0.25em lines(0.5) 0 lines(0.5);
  @include ellipsis;
  line-height: 1.2em;
  font-size: 0.9em;
  font-weight: 600;
}

.fluid-thumbnail-grid-image-image {
  @include border-top-radius($default-border-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fluid-thumbnail-grid-image-price-container {
  font-size: 14px; // Quantity placeholder font-size, so that the ellipsis looks nice
  font-weight: 600;
  padding: 0 lines(0.5) 0.25em lines(0.5);
  background: white;
  color: $button;
  @include ellipsis;
}

.fluid-thumbnail-grid-image-type {
  font-size: 16px;
}