- content_for :title, "Terms of Service"

- content_for :title_header do
  %h1 Terms of Service
.row
  %p
    PLEASE READ THESE TERMS OF USE ("AGREEMENT" OR "TERMS OF USE") CAREFULLY BEFORE USING THE WEBSITE AND SERVICES OFFERED BY TACKHUNTER.COM. ("Tack Hunter"). THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT
    %a{:href => "//WWW.TACKHUNTER.COM", :rel => "nofollow", :target => "_blank"} HTTP://WWW.TACKHUNTER.COM
    (THE "SITE") AND ALL SERVICES PROVIDED BY Tack Hunter ON THE SITE.
  %p
    By using the Site in any manner, including but not limited to visiting or browsing the Site, you (the "user" or "you") agree to be bound by this Agreement, including those additional terms and conditions and policies referenced herein and/or available by hyperlink. This Agreement applies to all users of the Site, including without limitation users who are vendors, customers, merchants, contributors of content, information and other materials or services on the Site.
.row
  %h2 1. Tack Hunter is a Venue
  %p
    Tack Hunter acts as a venue to allow users who comply with Tack Hunter's policies to offer, sell and buy certain goods within a fixed-price format. Tack Hunter is not directly involved in the transaction between buyers and sellers. As a result, Tack Hunter has no control over the quality, safety, morality or legality of any aspect of the items listed, the truth or accuracy of the listings, the ability of sellers to sell items or the ability of buyers to pay for items. Tack Hunter does not pre-screen users or the content or information provided by users. Tack Hunter cannot ensure that a buyer or seller will actually complete a transaction.
    Consequently, Tack Hunter does not transfer legal ownership of items from the seller to the buyer.
    Tack Hunter cannot guarantee the true identity, age, and nationality of a user. Tack Hunter encourages you to communicate directly with potential transaction partners through the tools available on the Site. You may also wish to consider using a third-party escrow service or services that provide additional user verification.
    You agree that Tack Hunter is a venue and as such is not responsible or liable for any content, for example, data, text, information, usernames, graphics, images, photographs, profiles, audio, video, items, and links posted by you, other users, or outside parties on Tack Hunter. You use the Tack Hunter service at your own risk.
.row
  %h2 2. Membership Eligibility
  %p
    Age: Tack Hunter's services are available only to, and may only be used by, individuals who are 18 years and older who can form legally binding contracts under applicable law. You represent and warrant that you are at least 18 years old and that all registration information you submit is accurate and truthful. Tack Hunter may, in its sole discretion, refuse to offer access to or use of the Site to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Site is revoked in such jurisdictions.
    
    Individuals under the age of 18 must at all times use Tack Hunter's services only in conjunction with and under the supervision of a parent or legal guardian who is at least 18 years of age. In this all cases, the adult is the user and is responsible for any and all activities.
    Compliance: You agree to comply with all local laws regarding online conduct and acceptable content. You are responsible for all applicable taxes. In addition, you must abide by Tack Hunter's policies as stated in the Agreement and the Tack Hunter policy documents listed below (if applicable to your activities on or use of the Site) as well as all other operating rules, policies and procedures that may be published from time to time on the Site by Tack Hunter, each of which is incorporated herein by reference and each of which may be updated by Tack Hunter from time to time without notice to you:
    
    
    In addition, some services offered through the Site may be subject to additional terms and conditions promulgated by Tack Hunter from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into this Agreement by this reference.
    Password: Keep your password secure. You are fully responsible for all activity, liability and damage resulting from your failure to maintain password confidentiality. You agree to immediately notify Tack Hunter of any unauthorized use of your password or any breach of security. You also agree that Tack Hunter cannot and will not be liable for any loss or damage arising from your failure to keep your password secure. You agree not to provide your username and password information in combination to any other party other than Tack Hunter without Tack Hunter's express written permission.
    Account Information: You must keep your account information up-to-date and accurate at all times, including a valid email address. To sell items on Tack Hunter you must provide and maintain valid payment information such as valid credit card information or a valid PayPal account.
    Account Transfer: You may not transfer or sell your Tack Hunter account and User ID to another party. If you are registering as a business entity, you personally guarantee that you have the authority to bind the entity to this Agreement.
    Right to Refuse Service: Tack Hunter's services are not available to temporarily or indefinitely suspended Tack Hunter members. Tack Hunter reserves the right, in Tack Hunter's sole discretion, to cancel unconfirmed or inactive accounts. Tack Hunter reserves the right to refuse service to anyone, for any reason, at any time.
.row
  %h2 3. Fees and Services
  %p
    Joining and setting up a shop on Tack Hunter is free. Tack Hunter does not charge fees to list an item for sale. Tack Hunter does charge a percentage of the sale price when the item sells. When you list an item you have an opportunity to review and accept the fees that you will be charged. Tack Hunter's Fees Policy, which is subject to change, is incorporated into this Agreement by reference. Changes to the Fees Policy and the fees for Tack Hunter's services are effective after Tack Hunter provides you with at least fourteen (14) days' notice by posting the changes on the Site. However, Tack Hunter may choose to temporarily change the Fees Policy and the fees for Tack Hunter's services for promotional events (for example, free listing days); such changes are effective when Tack Hunter posts the temporary promotional event on the Site. Tack Hunter may, at Tack Hunter's sole discretion, change some or all of Tack Hunter's services at any time. In the event Tack Hunter introduces a new service, the fees for that service are effective at the launch of the service. Unless otherwise stated, all fees are quoted in US Dollars (USD). Fees will include final sale price of an item as well as shipping fees on an order.
    In certain situations, including but not limited to a void or invalid transaction and returns, Tack Hunter may issue a credit for the applicable fees to a seller's billing statement.
    You are responsible for paying all fees and applicable taxes associated with using Tack Hunter. Tack Hunter allows sellers to indicate applicable tax jurisdictions which will be collected from buyers through Tack Hunter at point of sale.  Tack Hunter keeps accepted payment information on file. At the time of purchase, the fee amount is automatically deducted from the selling price before being sent to the seller.
    Fees and Termination: If Tack Hunter terminates a listing or your account, if you close your account, or if the payment of your Tack Hunter fees cannot be completed for any reason, you remain obligated to pay Tack Hunter for all unpaid fees plus any penalties, if applicable. If the seller's account is not paid in full and becomes past due, the seller risks penalties such as the suspension of privileges and/or termination of the account and other collection mechanisms (including retaining collection agencies and legal counsel). If you have a question or wish to dispute a charge, contact Tack Hunter.
.row
  %h2 4. Listing and Selling Listing Description:
  %p
    By listing an item on the Site you warrant that you and all aspects of the item comply with Tack Hunter's published policies. You also warrant that you may legally sell the item. You must accurately describe your item and all terms of sale in your Tack Hunter shop. Your listings may only include text descriptions, graphics, pictures and other content relevant to the sale of that item supplied by yourself. Listings may not include links or reference to other selling venues, external listings, websites or selling channels. The inclusion of phone numbers or email addresses directly in listings, shop banners, or shop policies is prohibited. All items must be listed in an appropriate category with appropriate tags. Each listing must accurately and completely describe the item/items for sale in that listing. If the "in stock" quantity is more than one, all items in that listing must be identical. Each unique item must have its own listing.
    Shop Policies: All sellers are urged to outline their policies for their Tack Hunter listing. These policies may include, for example, shipping, returns, payment and selling policies. Sellers must create reasonable policies in good faith and must abide by such policies. All listing policies must comply with Tack Hunter's site-wide policies. Sellers are responsible for enforcing their own reasonable listing policies. Tack Hunter reserves the right to request that a seller modify a listing policy.
    Binding Sale: All sales are binding. The seller is obligated to ship the order or otherwise complete the transaction with the buyer in a prompt manner, unless there is an exceptional circumstance, such as: (a) the buyer fails to meet the terms of the seller's listing (such as payment method), or (b) the seller cannot authenticate the buyer's identity. The buyer is obligated to deliver appropriate payment for items purchased, unless there is an exceptional circumstance.  By purchasing an item on Tack Hunter, the buyer agrees to the specific return and other policies set forth by the individual seller.
    Fee Avoidance: The price stated in each item listing description must be an accurate representation of the sale. Sellers may charge reasonable shipping and handling fees to cover the costs for packaging and mailing the items. Sellers may not charge excessive shipping fees. You may not misrepresent the item's location, or use another user's account without permission.  No sales may be carried out via private message as a means to avoid Tack Hunter's sales fee. Any other efforts to move sales initiated on Tack Hunter off-site to avoid fees is strictly prohibited and may result in account suspension.
.row
  %h2 5. Prohibited, Questionable and Infringing Items and Activities
  %p
    You are solely responsible for your conduct and activities on and regarding to Tack Hunter and any and all data, text, information, usernames, graphics, images, photographs, profiles, audio, video, items, and links (together, "Content") that you submit, post, and display on Tack Hunter.
    Restricted Activities: Your Content and your use of Tack Hunter shall not:
  %ul
    %li
      Be false, inaccurate or misleading
    %li
      Be fraudulent or involve the sale of illegal, counterfeit or stolen items
    %li
      Infringe upon any third-party's copyright, patent, trademark, trade secret or other proprietary or intellectual property rights or rights of publicity or privacy (see also, Tack Hunter's Copyright and Intellectual Property Policy)
    %li
      violate this Agreement, The DOs & DON'Ts of Tack Hunter, any site policy or community guidelines, or any applicable law, statute, ordinance or regulation (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising)
    %li
      Contain items that have been identified by the U.S. Consumer Products Safety Commission (CPSC) as hazardous to consumers and therefore subject to a recall
    Be defamatory, trade libelous, unlawfully threatening, unlawfully harassing, impersonate or intimidate any person (including Tack Hunter staff or other users), or falsely state or otherwise misrepresent your affiliation with any person, through for example, the use of similar email address, nicknames, or creation of false account(s) or any other method or device
    %li
      Be obscene or contain child pornography
    %li
      Contain or transmit any code of a destructive nature that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information
    %li
      Host images not part of a listing
    %li
      Modify, adapt or hack Tack Hunter or modify another website so as to falsely imply that it is associated with Tack Hunter;
    %li 
      Appear to create liability for Tack Hunter or cause Tack Hunter to lose (in whole or in part) the services of Tack Hunter's ISPs or other suppliers
    %li
      Link directly or indirectly, reference or contain descriptions of goods or services that are prohibited under this Agreement, the Privacy Policy, The DOs & DON'Ts of Tack Hunter, or other policy documents as posted on Tack Hunter.
    %li
      Include the sale of animals (e.g. horses, cats, dogs, etc...).
  %p
    Furthermore, you may not list any item on Tack Hunter (or consummate any transaction that was initiated using Tack Hunter's service) that, by paying to Tack Hunter the listing fee or the final value fee, could cause Tack Hunter to violate any applicable law, statute, ordinance or regulation, or that violates the Terms of Use.
.row
  %h2 6. Content License:
  %p
    Tack Hunter does not claim ownership rights in your Content. You grant Tack Hunter a license solely to enable Tack Hunter to use any information or Content you supply Tack Hunter with, so that Tack Hunter is not violating any rights you might have in that Content. You grant Tack Hunter a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise the copyright, publicity, and database rights (but no other rights) you have in the Content, in any media now known or not currently known, with respect to your Content. You agree to allow Tack Hunter to store or re-format your Content on Tack Hunter and display your Content on Tack Hunter in any way as Tack Hunter chooses. Tack Hunter will only use personal information in accordance with Tack Hunter's Privacy Policy.
    As part of a transaction, you may obtain personal information, including email address and shipping information, from another Tack Hunter user. Without obtaining prior permission from the other user, this personal information shall only be used for that transaction or for Tack Hunter-related communications. Tack Hunter has not granted you a license to use the information for unsolicited commercial messages. Without limiting the foregoing, without express consent from the user, you are not licensed to add any Tack Hunter user to your email or physical mail list. For more information, see Tack Hunter's Privacy Policy. Tack Hunter can also use any transactional information including sale date and final price for sales completed on Tack Hunter as it sees fit.
    Re-Posting Content: By posting Content on Tack Hunter, it is possible for an outside website or a third party to re-post that Content. You agree to hold Tack Hunter harmless for any dispute concerning this use. If you choose to display your own Tack Hunter-hosted image on another website, the image must provide a link back to its listing page on Tack Hunter.
    Idea Submissions: Tack Hunter considers any unsolicited suggestions, ideas, proposals or other material submitted to it by users via the Site or otherwise (other than the Content and the tangible items sold on the Site by users) (collectively, the "Material") to be non-confidential and non-proprietary, and Tack Hunter shall not be liable for the disclosure or use of such Material. If, at Tack Hunter's request, any member sends Material to improve the site (for example through the Forums or to customer support), Tack Hunter will also consider that Material to be non-confidential and non-proprietary and Tack Hunter will not be liable for use or disclosure of the Material. Any communication by you to Tack Hunter is subject to this Agreement. You hereby grant and agree to grant Tack Hunter, under all of your rights in the Material, a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully-paid, sublicensable and transferable right and license to incorporate, use, publish and exploit such Material for any purpose whatsoever, commercial or otherwise, including but not limited to incorporating it in the API, documentation, or any product or service, without compensation or accounting to you and without further recourse by you.
.row
  %h2 7. Information Control
  %p
    Tack Hunter does not control the Content provided by users that is made available on Tack Hunter. You may find some Content to be offensive, harmful, inaccurate, or deceptive. There are also risks of dealing with underage persons or people acting under false pretense.
    Additionally, there may also be risks dealing with international trade and foreign nationals. By using Tack Hunter, you agree to accept such risks and that Tack Hunter (and Tack Hunter's officers, directors, agents, subsidiaries, joint ventures and employees) is not responsible for any and all acts or omissions of users on Tack Hunter. Please use caution, common sense, and practice safe buying and selling when using Tack Hunter.
    Other Resources: Tack Hunter is not responsible for the availability of outside websites or resources linked to or referenced on the Site. Tack Hunter does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such websites or resources. You agree that Tack Hunter shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such websites or resources.
.row
  %h2 8. Resolution of Disputes and Release
  %p
    In the event a dispute arises between you and Tack Hunter, please contact Tack Hunter.
    The prevailing party in any arbitration or other proceeding arising under this Agreement shall be entitled to receive reimbursement of its reasonable expenses (including reasonable attorneys' fees, expert witness fees and all other expenses) incurred in connection therewith. Judgment upon the award so rendered may be entered in a court having jurisdiction or application may be made to such court for judicial acceptance of any award and an order of enforcement, as the case may be. Notwithstanding the foregoing, each party shall have the right to institute an action in a court of proper jurisdiction for injunctive or other equitable relief pending a final decision by the arbitrator. Use of the Site is not authorized in any jurisdiction that does not give effect to all provisions of the Agreement, including without limitation, this section. You and Tack Hunter agree that any cause of action arising out of or related to the Site (including, but not limited to, any services provided or made available therein) or this Agreement must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred.
    Should you have a dispute with one or more users, or an outside party, you release Tack Hunter (and Tack Hunter's officers, directors, agents, subsidiaries, joint ventures and employees) from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes. Tack Hunter encourages users to report user-to-user disputes to your local law enforcement, postmaster general, or a certified mediation or arbitration entity, as applicable.
    Tack Hunter, for the benefit of users, may try to help users resolve disputes. Tack Hunter does so in Tack Hunter's sole discretion, and Tack Hunter has no obligation to resolve disputes between users or between users and outside parties. To the extent that Tack Hunter attempts to resolve a dispute, Tack Hunter will do so in good faith based solely on Tack Hunter's policies. Tack Hunter will not make judgments regarding legal issues or claims.
.row
  %h2 10. Access and Interference
  %p
    Tack Hunter may contain robot exclusion headers which contain internal rules for software usage. Much of the information on Tack Hunter is updated on a real-time basis and is proprietary or is licensed to Tack Hunter by Tack Hunter's users or third-parties. You agree that you will not use any robot, spider, scraper or other automated means to access Tack Hunter for any purpose whatsoever, except to the extent expressly permitted by Tack Hunter's with prior express written permission. Additionally, you agree that you will not:
    Take any action that imposes, or may impose, in Tack Hunter's sole discretion, an unreasonable or disproportionately large load on Tack Hunter's infrastructure
    Copy, reproduce, modify, create derivative works from, distribute or publicly display any user Content.
    Interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site.
    Bypass Tack Hunter's robot exclusion headers or other measures Tack Hunter may use to prevent or restrict access to Tack Hunter
.row
  %h2 11. Breach
  %p
    Without limiting any other remedies, Tack Hunter may, without notice, and without refunding any fees, delay or immediately remove Content, warn Tack Hunter's community of a user's actions, issue a warning to a user, temporarily suspend a user, temporarily or indefinitely suspend a user's account privileges, terminate a user's account, prohibit access to the Site, and take technical and legal steps to keep a user off the Site and refuse to provide services to a user if any of the following apply:
  %ul
    %li  
      Tack Hunter suspects (by information, investigation, conviction, settlement, insurance or escrow investigation, or otherwise) a user has breached this Agreement, the Privacy Policy, The DOs & DON'Ts of Tack Hunter, or other policy documents and community guidelines incorporated herein
    %li
      Tack Hunter is unable to verify or authenticate any of your personal information or Content
    %li
      Tack Hunter believes that a user is acting inconsistently with the letter or spirit of Tack Hunter's policies, has engaged in improper or fraudulent activity in connection with Tack Hunter or the actions may cause legal liability or financial loss to Tack Hunter's users or to Tack Hunter.
.row
  %h2 12. Privacy
  %p
    Tack Hunter will not sell or disclose your personal information (as defined in the Privacy Policy) to third parties without your explicit consent. Tack Hunter stores and processes Content on computers located in the United States that are protected by physical as well as technological security.
  %h2 13. No Warranty
  %p
    Tack Hunter, Tack Hunter'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND Tack Hunter'S SUPPLIERS PROVIDE Tack Hunter'S WEB SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. Tack Hunter, Tack Hunter'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES AND Tack Hunter'S SUPPLIERS SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM Tack Hunter SHALL CREATE ANY WARRANTY. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE.
  %h2 14. Liability Limit
  %p
    IN NO EVENT SHALL Tack Hunter, AND (AS APPLICABLE) Tack Hunter'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES OR Tack Hunter'S SUPPLIERS BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE, Tack Hunter'S SERVICES, OR THIS AGREEMENT, INCLUDING WITHOUT LIMITATION, LOST PROFITS, BODILY INJURY, EMOTIONAL DISTRESS, OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES.
    Tack Hunter'S LIABILITY, AND (AS APPLICABLE) THE LIABILITY OF Tack Hunter'S SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE GREATER OF (A) THE AMOUNT OF FEES YOU PAY TO Tack Hunter IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, AND (B) $100. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
  %h2 15. Indemnity
  %p
    YOU AGREE TO INDEMNIFY AND HOLD Tack Hunter AND (AS APPLICABLE) Tack Hunter'S PARENT, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, AGENTS, AND EMPLOYEES, HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING REASONABLE ATTORNEYS' FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF YOUR BREACH OF THIS AGREEMENT OR THE DOCUMENTS IT INCORPORATES BY REFERENCE, OR YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD PARTY.
  %h2 16. No Guarantee
  %p
    Tack Hunter does not guarantee continuous, uninterrupted access to the Site, and operation of the Site may be interfered with by numerous factors outside Tack Hunter's control.
  %h2 17. Legal Compliance; Taxes
  %p
    You shall comply with all applicable domestic and international laws, statutes, ordinances and regulations regarding your use of the Site and any Tack Hunter service and, if applicable, your listing, purchase, solicitation of offers to purchase, and sale of items. In addition, you shall be responsible for paying any and all taxes applicable to any purchases or sales of items you make on the Site (excluding any taxes on Tack Hunter's net income).
  %h2 18. Severability
  %p
    If any provision of this Agreement is held unenforceable, then such provision will be modified to reflect the parties' intention. All remaining provisions of this Agreement shall remain in full force and effect.
  %h2 19. No Agency
  %p
    You and Tack Hunter are independent contractors, and no agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this Agreement.
  %h2 20. Tack Hunter Service
  %p
    Tack Hunter reserves the right to modify or terminate the Tack Hunter service for any reason, without notice, at any time. Tack Hunter reserves the right to alter these Terms of Use or other Site policies at any time, so please review the policies frequently. If Tack Hunter makes a material change Tack Hunter will notify you here, by email, by means of a notice on our home page, or other places Tack Hunter deems appropriate. What constitutes a "material change" will be determined at Tack Hunter's sole discretion, in good faith, and using common sense and reasonable judgment.
  %h2 21. Choice of Law
  %p
    This Agreement shall in all respects be interpreted and construed with and by the laws of the State of Alabama, excluding its conflicts of laws rules, and the United States of America.
  %h2 22. Survival
  %p
    Sections 3 (Fees and Services, Fees and Termination), 6 (Content, License), 7 (Information Control), 8 (Meetings, Groups or User Fees), 9 (Resolution of Dispute and Release), 10 (Tack Hunter's Intellectual Property), 11 (Access and Interference), 12 (Breach), 13 (Privacy), 14 (No Warranty), 15 (Liability Limit), 16 (Indemnity), 17 (No Guaranty), 19 (Severability), 20 (No Agency), 22 (Choice of Law) shall survive any termination or expiration of this Agreement.
  %h2 23. Notices
  %p
    Except as explicitly stated otherwise, any notices shall be given by postal mail to Tack Hunter; Attn: Legal Department; 3323 N Paulina, Chicago, IL 60657 (in the case of Tack Hunter) or, in your case, to the email address you provide to Tack Hunter (either during the registration process or when your email address changes). Notice shall be deemed given 24 hours after email is sent, unless the sending party is notified that the email address is invalid. Alternatively, Tack Hunter may give you notice by certified mail, postage prepaid and return receipt requested, to the address provided to Tack Hunter. In such case, notice shall be deemed given three days after the date of mailing.
  %h2 24. Disclosures
  %p
    The services hereunder are offered by Tack Hunter., located at P.O. Box 794 Auburn, AL 36831.  If you are a Alabama resident, you may have this same information emailed to you by sending a letter to the foregoing address with your email address and a request for this information.
  Effective Date: September, 18th 2016
