.wrapper {
  background: #fff;
  color: rgb(68, 68, 68);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-top: 0;
}

.news-post {
  
  .news-post-content {
    margin-top: 2em;
    .center {
      text-align: center;
    }
    .img-card {
      h3 {
        padding: 0 0.5em;
      }
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #ddd;
      img { 
        width: 100%;
      }
    }
  }
}
